<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon Dashboard</title>
    <link rel="stylesheet" href="../static/css/admin_dashboard.css"> <!-- Include your CSS file here -->
</head>
<body>
    <header>
        <div class="header-left">
            <div class="logo">
                <h1>Amazon</h1>
            </div>
        </div>
        <div class="header-middle">
            <div class="date">
                <p></p> <!-- JavaScript can be used to dynamically update the date -->
            </div>
        </div>
        <div class="header-right">
            <div class="dropdown">
                <button class="dropbtn">Account</button>
                <div class="dropdown-content">
                    <a href="#">Admin</a> <!-- Placeholder link for now -->
                </div>
            </div>
        </div>
    </header>
    <!-- The rest of your page content will go here -->
    <script src="../static/js/admin_dashboard.js"></script>
</body>
</html>
