<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit sale</title>
    <link rel="stylesheet" href="../static/css/edit_sales.css"> <!-- Include your CSS file here -->
</head>

<body>
    <header>
        <div class="header-left">
            <div class="logo">
                <h1>Amazon</h1>
            </div>
        </div>
        <div class="header-middle">
            <div class="date">
                <p></p> <!-- JavaScript can be used to dynamically update the date -->
            </div>
        </div>
        <div class="header-right">
            <div class="dropdown">
                <button class="dropbtn">Account</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('admin_dashboard') }}">Admin</a>
                    <a href="{{ url_for('employee_dashboard') }}">ekram</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="sections-container">
            <aside>
                <nav class="section1">
                    <ul>
                        <li><a href="{{ url_for('admin_dashboard') }}">Dashboard</a></li>


                        <li class="dropdown" id="categoriesDropdown">
                            <a href="#">Categories</a>
                            <div class="dropdown-content">
                                <a href="{{ url_for('manage_categories') }}">Manage Categories</a>
                                <a href="{{ url_for('add_category') }}">Add Categories</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#">Products</a>
                            <div class="dropdown-content">
                                <a href="{{ url_for('manage_products') }}">Manage Products</a>
                                <a href="{{ url_for('add_product') }}">Add Product</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#">Sales</a>
                            <div class="dropdown-content">
                                <a href="{{ url_for('view_sales') }}">Manage Sales</a>
                                <a href="{{ url_for('add_sale') }}">Add Sale</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#">Sales Report</a>
                            <div class="dropdown-content">
                                <a href="{{ url_for('sales_report') }}">Sales by Dates</a>
                                <a href="{{ url_for('monthly_sales') }}">Monthly Sales</a>
                                <a href="{{ url_for('daily_sales') }}">daily sales</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </aside>
            <h2>edit Sale</h2>
            <form method="POST" id="saleForm">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.item.label }}
                    {{ form.item(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.price.label }}
                    {{ form.price(class="form-control", id="price") }}
                </div>
                <div class="form-group">
                    {{ form.quantity.label }}
                    {{ form.quantity(class="form-control", id="quantity") }}
                </div>

                
                <div class="form-group">
                    {{ form.date.label }}
                    {{ form.date(class="form-control") }}
                </div>
                <button type="submit" class="btn btn-primary">update Sale</button>
            </form>
            
            
        </article>
        </div>
    </main>
    <!-- The rest of your page content will go here -->
    <script src="../static/js/admin_dashboard.js"></script>

</body>

</html>