<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon Dashboard</title>
    <link rel="stylesheet" href="../static/css/employee_dashboard.css"> <!-- Include your CSS file here -->
</head>

<body>
    <header>
        <div class="header-left">
            <div class="logo">
                <h1>Amazon</h1>
            </div>
        </div>
        <div class="header-middle">
            <div class="date">
                <p></p> <!-- JavaScript can be used to dynamically update the date -->
            </div>
        </div>
    </header>
    <main>

    </main>
    <!-- The rest of your page content will go here -->
    <script src="../static/js/employee_dashboard.js"></script>

</body>

</html>