<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <!--{% if error %}
        <p>{{ error }}</p>
        {% endif %}-->
        <form action="{{ url_for('login') }}" method="POST">
            <input type="text" name="username" placeholder="Username"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <button type="submit">Login</button>
        </form>
    </div>

</body>
</html>




<li class="dropdown">
    <a href="#">categories</a>
    <div class="dropdown-content">
        <a href="#">Manage categoreis</a>
        <a href="#">Add categories</a>
    </div>
</li>